@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

html {
    font-size: 10px;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    /* width: 192rem; */
}

:root {
    --main-color:#000000;
    --point-color: #D97652;
    --body-color :#F2E9D8;
    --sub-color : #FFFFFF;
}

/*데스크탑*/

.mobileOnly {
    display: none;
}


.body-top {
    background-color: var(--body-color);
    display: flex;
    width: 192rem;
    height: 80rem;
    background-image: url(/img/box-cat.png);
    background-repeat: no-repeat;
    background-position: 118rem 13.4rem 
}


header {
    background-color: var(--body-color);
    display: flex;
    gap: 75.6rem;
    align-items: center;
    justify-content: center;
    width: 192rem;
    height: 10.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 img {
    width:  13rem;
    height: 4rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header nav ul li a button {
    margin-left: 1rem;
    background-color: var(--point-color);
    border-radius: 4rem;
    width: 14rem;
    height: 5rem;
    color: var(--sub-color);
    font-weight: bold;
}

.section1 h2 {
    font-size: 4.8rem;
    font-weight: bold;
}

.section1 p {
    line-height: 1.25;
}

.section1 a button {
    background-color: var(--point-color);
    width: 14rem;
    height: 5rem;
    border-radius: 4rem;
    color: var(--sub-color);
    font-weight: bold;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 20rem;
    margin-left: 32rem;
}


.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192rem;
    margin-top: 8rem;
}


.section2 .main-cat {
    width: 66rem;
    height: 39rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 25%);
    background-image: url(/img/img_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -8rem;
}

.section2 .content {
    margin-left: 11rem;
}

.section2 .content h2 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.25;
}

.section2 .content p {
    line-height: 1.25;
    margin-top: 3rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 192rem;
    margin-top: 12rem;
    text-align: center;
}

.section3 h2 {
    font-size: 4.8rem;
    color: var(--point-color);
    font-weight: bold;
}

.section3 p {
    line-height: 1.25;
    margin-top: 4rem;
}

.section3 p span {
    color: var(--point-color);
    font-weight: bold;
}

.section3 ul {
    display: flex;
    gap: 7.2rem;
    margin-top: 8.8rem;
}

.section3 ul li div {
    width: 37.8rem;
    height: 37.8rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 25%);
    transform: rotate(-90deg); /*box-shadow 주축 변경하기*/
}

.section3 .cat1 {
    background-image: url(/img/img_1.jpg);
    background-size: cover;
}
.section3 .cat2 {
    background-image: url(/img/img_2.jpg);
    background-size: cover;
}
.section3 .cat3 {
    background-image: url(/img/img_3.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*사이즈 재조정하기*/
}

.section4 {
    display: flex;
    gap: 5.2rem;
    align-items: center;
    justify-content: center;
    width: 192rem;
    margin-top: 9rem;
}

.section4 p {
    line-height: 1.25;
}

.section4 a {
    background-color: var(--point-color);
    width: 14.7rem;
    height: 5rem;
    border-radius: 4rem;
    color: var(--sub-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe {
    background-color: #263140;
    width: 128rem;
    height: 20rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 9rem;
    margin-left: 32rem;
}


.subscribe h2 {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--sub-color);
}

.subscribe p {
    font-size: 1.4rem;
    color: #F2E9D8;
    line-height: 1.25;
    margin-top: 1.8rem;
}

.subscribe input {
    background-color: var(--sub-color);
    width: 53rem;
    height: 6rem;
    border-radius: 6rem;
    margin-left: 14.3rem ;
}

.subscribe input::placeholder {
    color: #767676;
    padding-left: 6.8rem ;
    background-image: url(/img/mail.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 3rem center ;
}

.subscribe button {
    background-color: var(--point-color);
    width: 13.6rem;
    height: 5rem;
    border-radius: 4rem;
    color: var(--sub-color);
    font-weight: bold;
    position: absolute;
    right: 6.3rem;

}

footer .background {
    width: 192rem;
    height: 50rem;
    position: absolute;
    top: 244rem;
    z-index: -1;
    background-color: #F2E9D899;
}

footer .background .rotated-img {
    width: 100%;
    height: 100%;
    background-image: url(/img/img_5.jpg);
    background-size: cover;
    background-position: right -60rem;
    opacity: 60%;
}


footer .info section{
    display: flex;
    background-color: var(--sub-color);
    width: 192rem;
    height: 16rem;
    align-items: center;
    justify-content: center;
    gap: 82.5rem;
    position: relative;
    top: 23rem;
}

footer section ul li div{
    background-color: var(--point-color);
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

footer section ul {
    display: flex;
    gap: 2rem;
}


footer .info section > img {
    width: 22.6rem;
    height: 7rem;
}

footer .top-btn-back {
    background-color: #FFFFFF;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20rem;
    left: 185rem;

}

footer .top-btn-back a img:hover {
    filter: invert(49%) sepia(12%) saturate(5%) hue-rotate(51deg) brightness(91%) contrast(81%);
}

footer .top-btn-back:hover {
    border: 1px solid #767676;
}


/*모달창-데스크탑*/

.modal {
    width: 60rem;
    height: 40rem;
    border-radius: 3rem;
    box-shadow: 0 0 3rem 0  rgba(0, 0, 0, 20%);
    background-image: url(/img/modal-bg-img.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300rem; /*JS 적용 전, 임의로 위치 시킴*/
    margin-left: 20rem;
}

.modal h2 {
    color: var(--point-color);
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.modal p {
    font-size: 1.4rem;
    margin-bottom: 3.8rem;
}
.modal button {
    background-color: var(--point-color);
    width: 18.9rem;
    height: 5rem;
    border-radius: 4rem;
    color: var(--sub-color);
    font-weight: bold;
}

.modal img {
    width: 11rem;
    height: 11.2rem;
    margin-bottom: 2.4rem;
}



/*모바일*/
@media (min-width:360px) and (max-width: 767px){
    .pcOnly {
        display: none;
    }
    
    .mobileOnly {
        display: block;
    }
    body {
        width: 39rem;
    }
    .body-top {
        width: 39rem;
        height: 71.8rem;
        background-image: url(/img/box-cat.png);
        background-repeat: no-repeat;
        background-size: 19.7rem 42.2rem;
        background-position: 50% 120%;
        
    }
    
    header h1 img {
        width:  9.2rem;
        height: 2.8rem;
        
    }
    
    header {
        display: flex;
        gap: 22.6rem;
        align-items: center;
        width: 39rem;
        height: 7.6rem;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    header nav a {
        width: 3.2rem;
        height: 3.2rem;
        z-index: 1;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 4rem;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 39rem;
    }

    .section1 h2 {
        font-size: 2.4rem;
        font-weight: bold;
    }
    
    .section1 p {
        font-size: 1.4rem;
        line-height: 1.25;
    }
    
    .section1 a button {
        width: 11.9rem;
        height: 4rem;
        border-radius: 4rem;
    }
    
    
    .section2 {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        width: 39rem;
    }
    
    
    .section2 .main-cat {
        width: 32.6rem;
        height: 19rem;
        border-radius: 1.8rem;
        background-position: center -4rem;
    }
    
    .section2 .content h2 {
        font-size: 2.4rem;
    }
    
    .section2 .content p {
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .section2 .content {
        margin-left: 0;
    }
    
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        text-align: center;
        width: 39rem;
    }
    
    .section3 h2 {
        font-size: 2.4rem;
    }
    
    .section3 p {
        margin-top: 3rem;
    }
    
    .section3 ul {
        display: flex;
        gap: 2rem;
        margin-top: 4rem;
    }
    
    .section3 ul li div {
        width: 26rem;
        height: 26rem;
        border-radius: 1.8rem;
        position: relative;
        left: 25rem;
    }
    
    .section4 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
        width: 39rem;
    }
    
    .section4 a {
        width: 12.6rem;
        height: 4rem;
        border-radius: 4rem;
        font-size: 1.4rem;
        position: relative;
        left: 10rem;
    }
    
    .subscribe {
        width: 32.6rem;
        height: 34.8rem;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 5rem;
        margin-left: 3.2rem;
        justify-content:flex-start;
    }


    .subscribe h2 {
        font-size: 2.4rem;
        padding-top: 3.6rem;
        line-height: 1.25;
    }
    
    .subscribe p {
        margin-top: 2rem;
    }
    
    .subscribe input {
        width: 26.2rem;
        height: 4rem;
        border-radius: 6rem;
        margin-top: 3rem;
        margin-left: 0;
        
    }
    

    .subscribe button {
        width: 11.7rem;
        height: 4rem;
        position: relative;
        left: 8rem;
        top: 2.7rem;

    }
    
    footer .background {
        width: 39rem;
        height: 24rem;
        position: absolute;
        top: 235rem;
    }
    
    footer .background .rotated-img {
        background-position: right -43rem;
    }

    footer .info section > img {
        width: 11.2rem;
        height: 3.4rem;
    }
    
    
    footer .info section:nth-child(1){
        display: flex;
        flex-direction: column;
        width: 39rem;
        gap: 5.8rem;
        align-items: flex-start;
        margin-left: 2rem;
    }

    
    .details{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        text-align: right;
        color: #767676;
        font-size: 1.4rem;
        margin-left: 2rem;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*모달창 - 모바일*/

    .modal {
        width: 30rem;
        height: 30rem;
        box-shadow: 0 0 2rem 0  rgba(0, 0, 0, 20%);
        background-repeat: no-repeat;
        background-color: var(--body-color);
        position: absolute;
        top: 290rem; /*JS 적용 전, 임의로 위치 시킴*/
        margin-left: 5rem;
    }

    
    .modal h2 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .modal p {
        margin-bottom: 2.8rem;
        line-height: 1.25;
        text-align: center;
    }

    .modal button {
        width: 16.3rem;
        height: 4rem;
    }

    .modal img {
        width: 6rem;
        height: 6.2rem;
    }

}


    